{%extends "base.html"%}
{%import "bootstrap/wtf.html" as wtf%}
{%block title%}AddFunctionModel{%endblock%}
{% block page_content %}
<h1>各用例测试结果为：</h1>
<!--<div class="col-md-4">-->
    <table width="80%"  cellspacing="50%" cellpadding="80">
            <tr>
                <td>测试用例编号</td>
                <td>测试结果</td>
                <td>测试用例概述</td>
                <td>测试完成时间</td>
                <td>测试结果图片</td>
            </tr>
            {% for result in result_data%}
            <tr>
                <td>{{result[1]}}</td>
                {% if result[2]=="1" %}
                <td>测试通过</td>
                {% else %}
                <td>测试未通过</td>
                {%endif%}
                <td>{{result[3]}}</td>
                <td>{{result[4]}}</td>
                <td><a href="{{ url_for('static', filename=result[5]) }}" target="_blank">{{result[5]}}</a></td>
            </tr>
            {%endfor%}

        </table>
<!--</div>-->
{% endblock %}

